---
import Layout from "../layouts/Layout.astro";
import Couch from "../components/icons/Couch.astro";
import Plane from "../components/icons/Plane.astro";
import SimpleMenu from "../components/menus/SimpleMenu.astro";
import SimpleArticle from "../components/cards/SimpleArticle.astro";
import SimpleFooter from "../components/footers/SimpleFooter.astro";
---

<Layout title="Muebla">
  <section class="bg-blue-800 w-full">
    <header
      id="start"
      class="w-full bg-[url('public/img/web_banner.jpg')] bg-left-bottom"
    >
      <section
        class="flex justify-center items-center flex-wrap pt-14 bg-[--bg-effect]"
      >
        <SimpleMenu
          title="Muebla"
          anchors={["Muebles", "Tienda", "Envios", "Contactanos"]}
          links={["#trending", "#store", "#sends", "#contact"]}
        >
          <a href="#start" slot="icon">
            <Couch
              c="fill-blue-100 w-20 transition duration-200 easy-out hover:scale-95 hover:cursor-pointer hover:fill-blue-300"
              slot="icon"
            />
          </a>
        </SimpleMenu>
        <section
          class="flex flex-wrap justify-center items-center py-80 w-8/12"
        >
          <h1 class="text-5xl lg:text-7xl text-center text-blue-100">
            Todo para interiores disponibles en nuestra tienda
          </h1>
          <h2
            class="text-2xl text-center text-blue-800 mt-10 py-3 px-10 rounded-md font-semibold bg-brown-500 hover:bg-brown-600 transition-all duration-200 easy-out"
          >
            Los mejores
          </h2>
        </section>
      </section>
    </header>
    <main
      class="flex flex-wrap justify-center items-center p-20 overflow-hidden"
    >
      <h1
        id="trending"
        class="text-5xl lg:text-7xl text-blue-100 font-medium w-full mt-20 mb-10"
      >
        Muebles destacados
      </h1>
      <section
        class="flex flex-wrap justify-between items-center gap-2 w-11/12"
      >
        <SimpleArticle
          title="Sofá verde elegante"
          description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
        >
          <img src="public/mean/couch.png" alt="couch-image" slot="img" />
        </SimpleArticle>
        <SimpleArticle
          title="Sillon azul elegante"
          description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
        >
          <img
            class="relative md:right-8 scale-125"
            src="public/mean/armchair.png"
            alt="armchair-image"
            slot="img"
          />
        </SimpleArticle>
        <SimpleArticle
          title="Maceta sencilla"
          description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
        >
          <img
            class="scale-150"
            src="public/mean/pots.png"
            alt="armchair-image"
            slot="img"
          />
        </SimpleArticle>
      </section>
      <h1
        id="store"
        class="text-7xl text-blue-100 font-medium w-full mt-36 mb-36"
      >
        Nuestra tienda
      </h1>
      <section
        class="flex flex-wrap justify-between items-center flex-col md:flex-row w-full"
      >
        <div class="md:w-full lg:w-6/12">
          <img
            src="/public/img/demostration.jpg"
            alt="imagen de una sala"
            class="scale-[1.7] lg:scale-125 origin-center xl:origin-right xl:hover:pr-10 transition-all duration-300 easy-in-out"
          />
        </div>
        <div
          class="flex flex-col p-0 md:p-10 pt-32 md:m-16 md:w-full lg:w-5/12"
        >
          <h2 class="text-2xl lg:text-4xl text-brown-500 font-medium w-full">
            Tenemos toda la variedad de muebles que necesitas
          </h2>
          <p class="text-left text-lg text-blue-100 mt-5">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora
            quia labore, blanditiis dolorum hic deleniti. Deleniti consequatur
            recusandae illum repellendus, asperiores, nihil error nobis quas
            impedit laudantium facilis quam blanditiis!
          </p>
        </div>
      </section>
      <h1
        id="sends"
        class="text-7xl text-blue-100 font-medium w-full mt-36 mb-20 xl:mb-36"
      >
        Envíos
      </h1>
      <section
        class="flex flex-wrap justify-between items-center flex-col-reverse lg:flex-row w-full"
      >
        <div
          class="flex justify-start items-start flex-col p-0 xl:p-20 w-full lg:w-3/6"
        >
          <h2 class="text-4xl text-brown-500 font-medium w-full">
            Realizamos envíos a toda Nicaragua
          </h2>
          <p class="text-left text-lg text-blue-100 mt-5">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora
            quia labore, blanditiis dolorum hic deleniti. Deleniti consequatur
            recusandae illum repellendus, asperiores, nihil error nobis quas
            impedit laudantium facilis quam blanditiis!
          </p>
        </div>
        <div class="flex justify-center items-center w-full lg:w-3/6 relative">
          <Plane
            c="fill-blue-500 w-4/12 py-20 lg:p-0 scale-150 relative bottom-0 xl:bottom-10 rotate-45 -translate-y-5 hover:translate-x-10 hover:fill-brown-500 transition-all duration-300 easy-in-out"
          />
        </div>
      </section>
    </main>
    <SimpleFooter
      id="contact"
      brand="Muebla"
      description="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod deleniti voluptatem unde molestiae dolore voluptatum?"
      email="mueblastore@gmail.com"
      cellphone="+505 6943 2092"
      cellphone2="+505 3210 5103"
    >
      <a href="#start" slot="icon">
        <Couch
          c="fill-brown-700 hover:fill-brown-900 w-20 hover:scale-95 relative top-1 transition duration-200 easy-out  hover:cursor-pointer "
        />
      </a>
    </SimpleFooter>
  </section>
</Layout>
