---
import Layout from "../layouts/Layout.astro";
import Couch from "../components/icons/Couch.astro";
---

<Layout title="Muebla">
  <main>
    <nav class="flex justify-between items-center px-20 mt-5">
      <div class="flex justify-start items-center">
        <div class="flex justify-center items-center pr-8 relative top-1">
          <Couch w="75" c="#000" />
        </div>
        <h1 class="text-5xl font-medium">Muebla</h1>
      </div>
      <div class="flex justify-start items-center">
        <a href="#" class="text-2xl mx-4">Muebles</a>
        <a href="#" class="text-2xl mx-4">Tienda</a>
        <a href="#" class="text-2xl mx-4">Envios</a>
        <a href="#" class="text-2xl mx-4">Acerca de</a>
      </div>
    </nav>
  </main>
</Layout>
