---
interface Props {
  title: string;
}
const { title } = Astro.props;
// Supports weights 100-900
import "@fontsource-variable/raleway";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  /* Colors
  --bg: #272e47;
  --accent: #d4c3a8; */
  :root {
    --bg-effect: rgba(39, 46, 71, 0.85);
  }
  * {
    box-sizing: border-box;
    min-width: 0;
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    min-height: 100vh;
    min-height: 100dvh;
    font-family: "Raleway Variable", sans-serif;
    font-weight: 400;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }
  p {
    text-wrap: pretty;
    hyphens: auto;
  }
</style>
